<%- include('../partials/header') %>

<div class="container mt-5 d-flex justify-content-center">
    <input id="view" class="btn btn-info m-2" type="button" value="All" style="width: 150px;">
    <input id="apply" class="btn btn-success m-2" type="button" value="Applied" style="width: 150px;">
</div>

<div id="joblist" style="display: none;" class="container mt-5">
    <% jobs.slice().reverse().forEach(function(job) { %>
        <% if(job.selectedcandidate.indexOf(currentUser.id) > -1 || job.rejectedcandidate.indexOf(currentUser.id) > -1) return; %>
        <div class="card mb-2" mb-3>
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= job.jobtitle %> </h5>
                        <p class="card-text"><%= job.company %></p>
                        <p class="card-text"><%= job.ctc %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= job.location%></small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted"><%= job.language%></small>
                        </p>
                        <form action="/developer/<%=job.id%>/apply" method="post">
                            <input class="btn btn-primary" type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>


<div id="applied" class="container mt-5">
    <% applied.slice().reverse().forEach(function(job) { %>
        <div class="card mb-2" mb-3>
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= job.jobtitle %> </h5>
                        <p class="card-text"><%= job.company %></p>
                        <p class="card-text"><%= job.ctc %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= job.location%></small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted"><%= job.language%></small>
                        </p>
                        <form action="/developer/<%=job.id%>/remove" method="post">
                            <input class="btn btn-danger" type="submit" value="Unregister">
                        </form>
                        <form action="#">
                            <% if(job.selectedcandidate.indexOf(currentUser.id) > -1) { %>
                                <input class="btn btn-success" value="Selected">
                            <% } else if (job.rejectedcandidate.indexOf(currentUser.id) > -1) { %>
                                <input class="btn btn-danger" value="Rejected">
                            <% } else { %>
                                <input class="btn btn-warning" value="Pending">
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<script>
    const viewButton = document.querySelector("#view");
    const applyButton = document.querySelector("#apply");

    viewButton.addEventListener("click", function() {
        document.querySelector("#joblist").style.display = "block";
        document.querySelector("#applied").style.display = "none";
    });

    applyButton.addEventListener("click", function() {
        document.querySelector("#joblist").style.display = "none";
        document.querySelector("#applied").style.display = "block";
    });
</script>

<%- include('../partials/footer') %>