<%- include('../partials/header') %>

<div class="devMain bg">
<div class="container d-flex justify-content-center">
    <input id="view" class="btn btn-info m-2" type="button" value="All" style="width: 150px;">
    <input id="apply" class="btn btn-success m-2" type="button" value="Applied" style="width: 150px;">
</div>

<div id="joblist" style="display: none;" class="container mt-5">
    <% jobs.slice().reverse().forEach(function(job) { %>
        <% if(job.selectedcandidate.indexOf(currentUser.id) > -1 || job.rejectedcandidate.indexOf(currentUser.id) > -1) return; %>
        <div class="d-flex justify-content-center mb-3">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                <h5 class="card-title">Recruitment Drive of <strong><%= job.company %></strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Job Profile: <%= job.jobtitle %> </li>
                <li class="list-group-item">Expected Salary (CTC) : <%= job.ctc %> </li>
                <li class="list-group-item">Job Location: <%= job.location %>  </li>
                <li class="list-group-item">Language Required: <%= job.language %>  </li>
                </ul>
                <div class="card-body">
                <form action="/developer/<%= job.id %>/apply" method="post">
                    <input class="btn btn-primary" type="submit" value="Register">
                </form>
                </div>
            </div>
        </div>
    <% }) %>
</div>


<div id="applied" class="container mt-5">
    <% applied.slice().reverse().forEach(function(job) { %>
        <div class="d-flex justify-content-center mb-3">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                <h5 class="card-title">Recruitment Drive of <strong><%= job.company %></strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Job Profile: <%= job.jobtitle %> </li>
                <li class="list-group-item">Expected Salary (CTC) : <%= job.ctc %> </li>
                <li class="list-group-item">Job Location: <%= job.location %>  </li>
                <li class="list-group-item">Language Required: <%= job.language %>  </li>
                </ul>
                <div class="card-body">
                    <form action="#">
                        <% if(job.selectedcandidate.indexOf(currentUser.id) > -1) { %>
                            <input class="btn btn-success mb-3" style="float: left; width: 100px;"  value="Selected">
                        <% } else if (job.rejectedcandidate.indexOf(currentUser.id) > -1) { %>
                            <input class="btn btn-danger mb-3" style="float: left; width: 100px;" value="Rejected">
                        <% } else { %>
                            <input class="btn btn-warning mb-3" style="float: left; width: 100px;" value="Pending">
                        <% } %>
                    </form>
                    <form action="/developer/<%=job.id%>/remove" method="post">
                        <input class="btn btn-danger" style="float: right; margin-left: 10px; width: 100px;" type="submit" value="Unregister">
                    </form>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</div>

<script>
    const viewButton = document.querySelector("#view");
    const applyButton = document.querySelector("#apply");

    viewButton.addEventListener("click", function() {
        document.querySelector("#joblist").style.display = "block";
        document.querySelector("#applied").style.display = "none";
    });

    applyButton.addEventListener("click", function() {
        document.querySelector("#joblist").style.display = "none";
        document.querySelector("#applied").style.display = "block";
    });
</script>

</body>
</html>