<%- include('../partials/header') %>

<div id="joblist" class="container mt-5">
    <% candidates.slice().reverse().forEach(function(candidate) { %>
        <% if(job.selectedcandidate.indexOf(candidate.id) > -1 || job.rejectedcandidate.indexOf(candidate.id) > -1) return; %>
        <div class="d-flex justify-content-center mb-3">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                <h5 class="card-title"><strong>Candidate Details</strong></h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: <%= candidate.username%> %>  </li>
                <li class="list-group-item">Location: <%= candidate.location%> %>  </li>
                <li class="list-group-item">Known Language: <%= candidate.language%>  </li>
                <li class="list-group-item">Gender: <%= candidate.gender%> </li>
                <li class="list-group-item">Age: <%= candidate.age%>  </li>
                <li class="list-group-item">Coding Platform: <%= candidate.platform%>  </li>
                </ul>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <form action="/jobs/<%=job.id%>/select/<%=candidate.id%>" method="post">
                            <input class="btn btn-success" type="submit" value="Accept">
                        </form>
                        <form action="/jobs/<%=job.id%>/reject/<%=candidate.id%>" method="post">
                            <input class="btn btn-danger" type="submit" value="Reject">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>